<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= farm.name %></title>
<style>


nav {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 15px 0;
  box-shadow: 0px 5px 0px #408da7;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}




  .b1{
    border: 5px solid blanchedalmond;
  }
  .d2{
    border: 2px solid darkcyan;
    height: 150px;
    transition: all 0.2s;
  }
  .d2:hover{
    border-radius: 10px;
    box-shadow: -5px 5px aqua;
    translate:5px -5px;
  }
  .f1{
    margin-left: 67%;
  }
  .b2{
    margin-left: 28%;
  }
  .del{
    margin-left: 48%;
    margin-bottom: 20px;
  }
    img{
        width: 600px;;
        height: 400px;
        margin-left: auto;
            display: block;
           margin-right: auto;
           margin-top: 20px;
    }



    nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #07680a;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #0ff116;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}






</style>
    
</head>

<body>

  <nav class="shift">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/farms">Farms</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/candy">Candy</a></li>
      <li><a href="#">Nice staff</a></li>
    </ul>
  </nav>

    <img src="https://media.istockphoto.com/id/543212762/photo/tractor-cultivating-field-at-spring.jpg?s=612x612&w=0&k=20&c=uJDy7MECNZeHDKfUrLNeQuT7A1IqQe89lmLREhjIJYU=" alt="">

    <h1 class="text-center m-4 text-success"><%= farm.name %> Farm</h1>

      <div class="row m-4 mt-5">
        <div class="col-6 b1">
          <h3 class="h3 text-center">City: <%= farm.city%></h3>
        </div>
        <div class="col-6 b1">
          <h3 class="text-center">Email: <%= farm.email %></h3>
        </div>
        
      </div>

      <hr class="mt-5">
    <h1 class="text-center text-primary m-5">Products of <%= farm.name %> Farm</h1>
    
        <% for(let product of farm.products) {%>
          <div class="m-5 d2">
        <h2 class="m-4"><%=product.name%></h2>

        <form action="/products/<%= product._id %>" class="f1">
          <button class="btn btn-success">View Product</button>
        </form>
      </div>
        <% } %>

    <button class="btn btn-info b2" onclick="window.location.href = '/farms/<%=farm._id%>/products/new';">Add Product</button>

    <button  class="btn btn-info b2"  onclick="window.location.href = '/farms';">All Farms</button>

    <form action="/farms/<%=farm._id%>?_method=DELETE" class="f1 mt-5 del" method="POST">
        <button class="btn btn-danger">Delete</button></form>



        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>

</html>